<div *ngIf="condition">Condition met</div>
<div *ngIf="!condition">Condition not met</div>
<button (click)="changeCondition()">Change condition</button>
<hr>

<!-- <template *ngFor let-person [ngForOf]="people"> -->
<ul>
  <li *ngFor="let person of people">
    <div>name: {{person}}</div>
  </li>
</ul>
<hr>

<h3>Monsters and where they live</h3>
<ul>
  <li *ngFor="let monster of monsters">
      {{monster.name}}
      {{monster.location}}
  </li>
</ul>
<hr>

<div [ngSwitch]="time">
  <span *ngSwitchCase="'night'">It's night time
    <button (click)="changeDay()">change to day</button>
  </span>
  <span *ngSwitchDefault>It's day time
    <button (click)="changeNight()">change to night</button>
  </span>
</div>