Directly accessing varaables in the component:<br>
{{speed}} {{vehicle}}<hr>
adding variables in the component:<br>
{{ speed + ' ' + vehicle }}<hr>
Calling function in the component:<br>
{{ lower(speed) }} {{uppser('Jeep')}}<hr>
<a (click)="setValues('fast', newVehicle)">
  Click to change to Fast </a><hr>
<a (click)="setValues(newSpeed, 'Rocket')">
  Click to change to Rocket</a><hr>
<a (click)="vehicle='Car'">
  Click to change the vehicle to a Car</a><hr>
<a (click)="vehicle='Enhanced ' + vehicle">
  Click to Enhanced Vehicle</a><hr>