<h1>Expressions</h1>
Array:<br>
{{myarr.join(', ')}}<br>
<hr>
Elements removed from array:<br>
{{removedArr.join(', ')}}<hr>
<a (click)="myArr.push(myMath.floor(myMath.random()*100+1))">
  Click to appenda value to the array
</a><hr>
<a (click)="removedArr.push(myArr.shift())">
  Click to remove the first value from the array
</a><hr>
Size of Array:<br>
{{myArr.length}}<hr>
Max number removed from the array:<br>
{{myMath.max.apply(myMath, removedArr)}}<hr>