nested{
    font-size:2em;
    font-weight: bolder;
    border:3px solid blue;
}

.bold {
    font-weight: bold;
  }
  .italic {
    font-style: italic;
  }
  .highlight {
    background-color: lightblue;
  }