<div (mousemove)="move($event)">
  <img [src]="imageUrl"
    (mouseenter)="mouseGoesIn()"
    (mouseleave)="mouseLeft()"
    (dbclick)="changeImg()" /><br>

    double click the picture to change it<br>
    The Mouse has {{mouse}}<hr>
    
  <button (click)="changeImg()">Change Picture</button><hr>
  <input (keyup)="onKeyup($event)"
    (keydown)="onKeydown($event)"
    (keypress)="keypress($event)"
    (blur)="underTheScope($event)"
    (focus)="underTheScope($event)">
    {{view}}

  <p>On key up: {{upValues}}</p>
  <p>On key down: {{downValues}}</p>
  <p>On key press: {{keypressValue}}</p>
  <p (mousemove)="move($event)">
    x coodinates: {{x}}
    <br>y coodinater: {{y}}
  </p>

</div>